h1 {
	font-size: 50px;
	font-family: "Copperplate Gothic Light", serif;
}

body {
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: gray;
}

html {
	height: 100%;
}

nav {
	display: block;
	background-color: #339966;
	height: 50px;
	line-height: 50px;
}

a.navbar {
	color: white;
	text-decoration: none;
	padding: 0 50px;
}

ul li {
	margin-left: ;
	display: inline;
	list-style: none;
}

.content {
	width: 900px;
	margin: 0 auto;
	font-family: "Garamond", serif;
	font-size: 19px;
}

.text {
	background-color: white;
	padding: 15px;	
}
.project_img {
	width: 300px;
	height: auto;
	padding: 10px;
}

td a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}